@-webkit-keyframes cloud {
  0% {
    left: -100px;
  }
  100% {
    left: 90%;
  }
}
@keyframes cloud {
  0% {
    left: -100px;
  }
  100% {
    left: 90%;
  }
}
@-webkit-keyframes x-motion {
  0% {
    left: 10%;
  }
  100% {
    left: 90%;
  }
}
@keyframes x-motion {
  0% {
    left: 10%;
  }
  100% {
    left: 90%;
  }
}
@-webkit-keyframes y-motion {
  0%, 100% {
    top: 100%;
  }
  50% {
    top: 0%;
  }
}
@keyframes y-motion {
  0%, 100% {
    top: 100%;
  }
  50% {
    top: 0%;
  }
}
body {
  background-color: #412b19;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sky {
  overflow: hidden;
  background: #3798c5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20%;
}
.sky:hover {
  background-image: url("https://media.istockphoto.com/videos/starry-blue-sky-animated-background-video-id855833196?s=640x640");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.sky:hover .sun {
  display: none;
}
.sky:hover .moon {
  display: block;
}
.sky:hover .star {
  display: block;
}

.mountain {
  position: absolute;
  top: 40%;
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
  border-bottom: 280px solid #3F2212;
  z-index: 1;
}

.small-mountain {
  position: absolute;
  top: 60%;
  border-left: 350px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 200px solid #3F2212;
  z-index: 0;
  left: 10%;
}

.mountain--one {
  left: 20%;
  bottom: -20px;
  z-index: 0;
}

.mountain--two {
  left: 25%;
  bottom: -20px;
  opacity: 0.8;
  z-index: 0;
}

.mountain--three {
  left: 30%;
  bottom: -20px;
  opacity: 0.9;
  z-index: 0;
}

.mountain--four {
  left: 35%;
  bottom: -20px;
  opacity: 0.7;
  z-index: 0;
}

.mountain--five {
  left: 40%;
  bottom: -20px;
  z-index: 0;
}

.snow {
  position: absolute;
  top: 90%;
  right: -65px;
  border-left: 65px solid transparent;
  border-right: 65px solid transparent;
  border-bottom: 77px solid #ceeaf6;
  z-index: 2;
}

.snow__down {
  position: absolute;
  top: 70px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #ceeaf6;
}

.snow__down--cap1 {
  left: -55px;
}

.snow__down--cap2 {
  left: -25px;
}

.snow__down--cap3 {
  left: 5px;
}

.cloud {
  position: absolute;
  width: 70px;
  height: 30px;
  background: #fff;
  border-radius: 100px/50px;
  bottom: 150px;
  -webkit-animation: cloud 50s infinite linear;
          animation: cloud 50s infinite linear;
}
.cloud:before {
  position: absolute;
  width: 70px;
  height: 30px;
  background: rgb(247, 247, 247);
  border-radius: 100px/50px;
  content: "";
  left: 60px;
}
.cloud:after {
  position: absolute;
  width: 70px;
  height: 30px;
  background: rgb(247, 247, 247);
  border-radius: 100px/50px;
  content: "";
  left: 25px;
  top: -10px;
}

.sun {
  height: 100px;
  width: 100px;
  background-color: #fefebe;
  box-shadow: 10px 10px 20px 4px yellow;
  border-radius: 50%;
  filter: blur(1px);
  display: block;
}

.moon {
  height: 100px;
  width: 100px;
  background-color: #CCDBEF;
  border-radius: 50%;
  filter: blur(1px);
  box-shadow: 10px 10px 20px 4px #191970;
  display: none;
}

.star {
  position: absolute;
  width: 30px;
  height: 150px;
  -webkit-animation: x-motion 3s ease-in-out 0s infinite alternate;
          animation: x-motion 3s ease-in-out 0s infinite alternate;
  display: none;
}
.star:before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 100%;
  background: #fefebe;
  -webkit-animation: y-motion 3s ease-in-out 0s infinite alternate;
          animation: y-motion 3s ease-in-out 0s infinite alternate;
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */