$snow-color:#ceeaf6;
$cloud-primary-color:#fff;
$cloud-secondary-color:rgb(247, 247, 247);
$image-url:'https://media.istockphoto.com/videos/starry-blue-sky-animated-background-video-id855833196?s=640x640';
$body-color:#412b19;
$sky-color:#3798c5;
$mountain-color:#3F2212;
$sun-primary-color:#fefebe;
$sun-secondary-color:yellow;
$moon-primary-color:#CCDBEF;
$moon-secondary-color:#191970;

@keyframes cloud {
	0% {
		left: -100px;
	}
	100% {
		left: 90%;
	}
}
@keyframes x-motion {
	0% {
		left: calc(10%);
	}
	100% {
		left: calc(90%);
	}
}
@keyframes y-motion{
	0%,100% {
		top: 100%;
	}
	50% {
		top: 0%;
	}
}
body {
	background-color: $body-color;
}
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.sky {
	overflow: hidden;
	background:$sky-color ;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 20%;
	&:hover {
		.sun {
			display: none;
		}
		.moon {
			display: block;
		}
		background-image: url($image-url);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		.star {
			display: block;
		}
	}
}
.mountain {
	position: absolute;
	top: 40%;
	border-left: 250px solid transparent;
	border-right: 250px solid transparent;
	border-bottom: 280px solid $mountain-color;
	z-index: 1;
}
.small-mountain {
	position: absolute;
	top: 60%;
	border-left: 350px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 200px solid $mountain-color;
	z-index: 0;
	left: 10%;
}
.mountain--one {
	left: 20%;
	bottom: -20px;
	z-index: 0;
}
.mountain--two {
	left: 25%;
	bottom: -20px;
	opacity: .8;
	z-index: 0;
}
.mountain--three {
	left: 30%;
	bottom: -20px;
	opacity: .9;
	z-index: 0;
}
.mountain--four {
	left: 35%;
	bottom: -20px;
	opacity: .7;
	z-index: 0;
}
.mountain--five {
	left: 40%;
	bottom: -20px;
	z-index: 0;
}
.snow {
	position: absolute;
	top: 90%;
	right: -65px;
	border-left: 65px solid transparent;
	border-right: 65px solid transparent;
	border-bottom: 77px solid $snow-color;
	z-index: 2;
}
.snow__down {
	position: absolute;
	top: 70px;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 25px solid $snow-color;
}
.snow__down--cap1 {
	left: -55px;
}
.snow__down--cap2 {
	left: -25px;
}
.snow__down--cap3 {
	left: 5px;
}
.cloud {
	position: absolute;
	width: 70px;
	height: 30px;
	background: $cloud-primary-color;
	border-radius: 100px / 50px;
	bottom: 150px;
	animation: cloud 50s infinite linear;
	&:before {
		position: absolute;
		width: 70px;
		height: 30px;
		background: $cloud-secondary-color;
		border-radius: 100px / 50px;
		content: '';
		left: 60px;
	}
	&:after {
		position: absolute;
		width: 70px;
		height: 30px;
		background: $cloud-secondary-color;
		border-radius: 100px / 50px;
		content: '';
		left: 25px;
		top: -10px;
	}
}
.sun {
	height: 100px;
	width: 100px;
	background-color: $sun-primary-color;
	box-shadow: 10px 10px 20px 4px $sun-secondary-color;
	border-radius: 50%;
	filter: blur(1px);
	display: block;
}
.moon {
	height: 100px;
	width: 100px;
	background-color:$moon-primary-color ;
	border-radius: 50%;
	filter: blur(1px);
	box-shadow: 10px 10px 20px 4px $moon-secondary-color;
	display: none;
}
.star {
	position: absolute;
	width: 30px;
	height: 150px;
	animation: x-motion 3s ease-in-out 0s infinite alternate;
	display: none;
	&:before {
		content: '';
		width: 30px;
		height: 30px;
		position: absolute;
		top: 100%;
		background: #fefebe;
		animation: y-motion 3s ease-in-out 0s infinite alternate;
		border-radius: 50%;
	}
}
